// use litera as the base
$theme: "litera" !default;

/*-- scss:defaults --*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400&display=swap');


// fonts
$font-family: "Open Sans", sans-serif;
$font-family-monospace: 'Fira Code', monospace;

// colours
$link-color: #2e6626;
$link-hover-color: #284524;
$navbar-fg: #2e6626;
$navbar-hl: #2e6626;

/*-- scss:rules --*/

h1 {
  font-family: 'Open Sans', sans-serif;
}

h3 {
  font-family: 'Open Sans', sans-serif;
  color: #444444;
  font-size: 1.2rem;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.9rem;
}

a {
  text-decoration: none;
}
