.hex {
    width: 200px
}

.smallhex {
    width: 100px;
    margin-right: 25px;
}

.figure {
   margin-top: 40px;
   margin-bottom: 40px;
   text-align: center;
   border-radius: 20px;
}

.img-rounded {
  border-radius: 20px;
  border: 3px solid #434343;
}

.thumbnail {
  padding-right: 20px;
}

.thumbnail-image {
  height: 200px;
  border-radius: 20px;
  border: 3px solid #434343; 
  margin-bottom: 20px;
  margin-right: 20px;
}

.navbar-logo {
  border: 1px solid #434343;
  width: 24px;
  height: 24px;
  padding: 0px;
  margin-right: 6px;
  border-radius: 12px;
}

.about-image {
  border: 3px solid #434343; 
}

div.quarto-post {
  border-bottom: 0px solid #fff;
  gap: 0em;
  margin-bottom: 0em;
}

:root, [data-bs-theme=light] {
  --bs-body-font-size: 0.9rem;
  --bs-body-line-height: 1.5;
}