/*-- scss:ALA theme --*/

@import url(https://fonts.googleapis.com/css?family=Roboto:300,300i&display=swap);
@import url(https://fonts.googleapis.com/css?family=Lato&display=swap);
@import url(https://fonts.googleapis.com/css?family=Fira+Mono&display=swap);

// fonts
$font-family-sans-serif: "Roboto", Roboto, serif;
$font-family-monospace: "Fira Mono", Fira;

$code-block-font-size: 0.5em;
$credits-font-size: 0.45em;

// colors
$body-bg: #fff !default;
$body-color: #000 !default;
$link-color: #51483d !default;
$selection-bg: #26351c !default;
$code-color: #222322 !default;
$custom-color: #f064a4;

// headings
$presentation-heading-font: "Roboto", Roboto, serif;
$presentation-heading-color: #E06E53;
$light-bg-text-color: #636363;

/*-- scss:rules --*/

.title {
  font-size: 50px !important;
}

.reveal a {
  line-height: 1.3em;
}

.textrow {
  margin-top: 40px;
  height: 130px;
}

.coderow {
  margin-top: 50px;
  height: 120px;
}

.clipped {
  clip-path: circle();
}

.reveal .galah h1 {
  color: $custom-color;
}

.reveal .galah h2 {
  color: $custom-color;
}

.reveal .galah h1 code {
  color: $custom-color;
}

.reveal .footer {
  color: #adadad;
}

.credits {
  color: #fff;
  font-size: $credits-font-size;
}

.table-borderless > tbody > tr > td,
.table-borderless > tbody > tr > th,
.table-borderless > tfoot > tr > td,
.table-borderless > tfoot > tr > th,
.table-borderless > thead > tr > td,
.table-borderless > thead > tr > th {
    border: none;
    color: #faa5cb;
}

.table-galaxias > tbody > tr > td,
.table-galaxias > tbody > tr > th,
.table-galaxias > tfoot > tr > td,
.table-galaxias > tfoot > tr > th,
.table-galaxias > thead > tr > td,
.table-galaxias > thead > tr > th {
    border: none;
    color: #abd6ff;
}

.table-events > tbody > tr > td,
.table-events > tbody > tr > th,
.table-events > tfoot > tr > td,
.table-events > tfoot > tr > th,
.table-events > thead > tr > td,
.table-events > thead > tr > th {
    border: none;
    color: #d1fc90;
}

.profile {
  margin-top: 10px;
  height: 150px;
  width: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
}