/*-- scss:ALA theme --*/

@import url(https://fonts.googleapis.com/css?family=Roboto:300,300i&display=swap);
@import url(https://fonts.googleapis.com/css?family=Lato&display=swap);
@import url(https://fonts.googleapis.com/css?family=Fira+Mono&display=swap);

// fonts
$font-family-sans-serif: "Roboto", Roboto, serif;
$font-family-monospace: "Fira Mono", Fira;

$code-block-font-size: 0.5em;
$credits-font-size: 0.45em;

// colors
$body-bg: #fff !default;
$body-color: #000 !default;
$link-color: #51483d !default;
$selection-bg: #26351c !default;
$code-color: #222322 !default;
$custom-color: #f064a4;


// headings
$presentation-heading-font: "Roboto", Roboto, serif;
$presentation-heading-color: #E06E53;

/*-- scss:rules --*/

.reveal a {
  line-height: 1.3em;
}

.clipped {
  clip-path: circle();
}

.reveal .galah h1 {
  color: $custom-color;
}

.reveal .galah h2 {
  color: $custom-color;
}

.reveal .galah h1 code {
  color: $custom-color;
}

.credits {
  color: #fff;
  font-size: $credits-font-size;
}