slides > slide.backdrop {
  background: none !important;
  background-color: white !important;
}

slides > slide {
    font-family: Helvetica, sans-serif;
    font-size: 32px;
    font-weight: normal;
    color: #5E5E5E;
    background-size: 80px !important;
    background-repeat: no-repeat !important;
    background-position: 95% 5% !important;
}