<script type='text/javascript' src='https://d1bxh8uas1mnw7.cloudfront.net/assets/embed.js'></script>

<p style="margin-left: .35in; text-indent: -.3in;">
  {{ publications.order }}. {{ publications.authors }} ({{ publications.year }})
  <a href="{{ publications.url }}">
    {{ publications.title }}
  </a>
  <em>{{ publications.journal }}</em>.
  {%- if page.volume > 0 -%}
    {{ publications.volume }}
  {%- endif -%}
  {%- if page.pages > 0 -%}
    : {{ publications.pages }}
  {%- endif -%}
  {%- if page.doi > 0 -%}
    doi:
    <a
      href="https://doi.org/{{ publications.doi }}"
      target="_blank"
      rel="noopener"
    >
      {{ publications.doi }}
    </a>
    &nbsp;
  {%- endif -%}
  <span
    style="margin-left: 2.5em"
    data-badge-popover="right"
    data-badge-type="4"
    class='altmetric-embed'
    data-doi= {{ publications.doi }}>
  </span>
</p>