/* slide attributes */
.ALA-title-slide {
  background-color: #637073;
}

.ALA-standard-slide {
  background-color: #fff;
}

/* title slide images */
.main-image {
  width: 100px;
  height: 100px;
}

.logo {
  margin-left: 10px;
  margin-right: 10px;
}

img {
  margin-left: 40px;
  margin-right: 60px;
}

.png {
  border: 1px solid #637073;
}

/* font colors etc */

.main-title {
  color: #fff;
  font-size: 300%;
}

.main-subtitle {
  color: #000;
  font-size: 200%;
}

.main-body {
  font-family: Roboto;
  color: #fff;
}

.small{
  font-size: 70%;
  color: #fff;
}

.large{
  font-size: 150%;
}

.slide-title {
  color: #F26649;
  font-size: 200%;
}

.slide-subtitle {
  color: #637073;
  font-size: 120%;
}

table{
  width: 100%;
}

.white {
  color: white;
}

.divider-text {
  font-size: 400%;
  color: white;
}

td {
  vertical-align: top;
  padding: 20px;
}

th {
  text-align: left;
  vertical-align: top;
  padding: 20px;
  color: white;
}