/* css styles */

.centertext {
  color: #4a4a4a;
  text-align: center;
}

.profile {
  margin-top: 100px;
  height: 200px;
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
}

a {
  color: #4a4a4a;
}

.button-container {
  display: flex;
  
}

.container {
  margin: 0 auto;
}

.slidethumbnail {
  margin-top: 20px;  
  margin-bottom: 20px;
  margin-right: 30px;
  align: left;
  width: 300px;
  border: 1px solid #575757;
}

.rainbow {
  background-color: #ffffff;
  border-color: #4a4a4a;
  color: #4a4a4a;
  cursor: pointer;
  margin-left: 5px;
  margin-right: 5px;
}

.btn-outline-primary:hover {
  border-color: #ffffff;
  color: #ffffff;
  background-image: linear-gradient(to right, #d182cb, #FF6355, #FBA949, #DEC504, #8BD448, #43a7e0, #d182cb);
  animation: slidebg 8s linear infinite;
}

@keyframes slidebg {
  to {
    background-position:20vw;
  }
}