/* css styles */

.centertext {
  color: #4a4a4a;
  text-align: center;
}

.profile {
  margin-top: 100px;
  height: 200px;
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
}

a {
  color: #4a4a4a;
}

.button-container {
  display: flex;
  
}

.container {
  margin: 0 auto;
}

.btn {
  background-color: #ffffff;
  border-color: #4a4a4a;
  color: #4a4a4a;
  margin-left: 5px;
  margin-right: 5px;
}

.btn-outline-primary:hover {
  border-color: #4a4a4a;
  background-color: #4a4a4a;
  color: #ffffff;
}